%form.form{action: 'https://formkeep.com/f/5ab0f76a6b56', method: 'POST', 'accept-charset' => 'UTF-8'}
  %input{type: 'hidden', name: 'utf8', value: '✓'}
  .g.mtl
    .g-b.g-b--s--1of4
      %h2 1. Choose Your Rate
    .g-b.g-b--s--3of8
      %input#review{type: 'radio', name: 'rate', value: 'review', checked: 'checked'}
      %label{for: 'review'}
        .well
          %h3 Discussion + Review
          %h1 $55/hr
          %ul
            %li Sem Adipiscing Amet
            %li Mollis Commodo Elit
            %li Sem Adipiscing Amet
            %li Mollis Commodo Elit
    .g-b.g-b--s--3of8
      %input#discussion{type: 'radio', name: 'rate', value: 'discussion'}
      %label{for: 'discussion'}
        .well
          %h3 Discussion Only
          %h1 $45/hr
          %ul
            %li Mollis Commodo Elit
            %li Sem Adipiscing Amet
            %li Mollis Commodo Elit
            %li Sem Adipiscing Amet

  .g.mtl
    .g-b.g-b--s--1of4
      %h2 2. Estimate a Duration
    .g-b.g-b--s--2of4
      %select{name: 'duration'}
        %option{disabled: 'disabled', selected: 'selected'} Duration
        %option{value: '30 minutes'} 30 minutes
        %option{value: '1 hour'} 1 hour
        %option{value: '1.5 hours'} 1.5 hours
        %option{value: '2 hours'} 2 hours
        %option{value: '2.5 hours'} 2.5 hours
        %option{value: '3+ hours'} 3+ hours
      %p.tct
        %strong How long do you think you would like to discuss several factors?
        Keep in mind that this is an estimate; the final billed cost will most
        likely be a similar but different.
    .g-b.g-b--s--1of4
      %h1.mbf.twb $110
      %p.tct
        %strong Estimated Cost
        based on package selection and estimated duration.

  .g.mtl
    .g-b.g-b--s--1of4
      %h2 3. Choose Your Service
      %p.mbxs.tct
        We like to offer many different services to communicate so that it’s
        easiest on you. Let us know which service you prefer.
    .g-b.g-b--s--3of4
      .g
        .g-b.g-b--s--1of3
          %input#skype{type: 'radio', name: 'service', checked: 'checked', value: 'skype'}
          %label{for: 'skype'}
            .well.well--s
              = partial "/assets/images/skype.svg"
              %h3.mbf Skype
        .g-b.g-b--s--1of3
          %input#google{type: 'radio', name: 'service', value: 'google'}
          %label{for: 'google'}
            .well.well--s
              = partial "/assets/images/google.svg"
              %h3.mbf Google
        .g-b.g-b--s--1of3
          %input#facetime{type: 'radio', name: 'service', value: 'facetime'}
          %label{for: 'facetime'}
            .well.well--s
              = partial "/assets/images/apple.svg"
              %h3.mbf Facetime

  .g.mtl
    .g-b.g-b--s--1of4
      %h2 4. Selected a Time to Meet
    .g-b.g-b--s--3of4
      .g.mtf
        .g-b.g-b--s--1of3
          %select{name: 'month'}
            %option{disabled: "disabled", selected: "selected"} Month
            %option{value: 'january'} January
            %option{value: 'february'} February
            %option{value: 'march'} March
            %option{value: 'april'} April
            %option{value: 'may'} May
            %option{value: 'june'} June
            %option{value: 'july'} July
            %option{value: 'august'} August
            %option{value: 'september'} September
            %option{value: 'october'} October
            %option{value: 'november'} November
            %option{value: 'december'} December
        .g-b.g-b--s--1of3
          %select
            %option{disabled: "disabled", selected: "selected"} Day
        .g-b.g-b--s--1of3
          %select
            %option{disabled: "disabled", selected: "selected"} Time
      %p.tct
        %strong We can’t guarantee that the time you select will be available,
        but we will do our best to communicate and find a good time close enough
        to your schedule to meet.

  .g.mtl
    .g-b.g-b--s--1of4
      %h2 5. Let Us Know Who You Are
    .g-b.g-b--s--3of4
      %input{type: 'text', placeholder: 'Your Name'}
      %input{type: 'text', placeholder: 'Your Church, Ministry, Organization, etc.'}
      %input{type: 'text', placeholder: 'Your Email'}

  .g.mtl
    .g-b.g-b--s--1of4
      &nbsp;
    .g-b.g-b--s--2of4
      %input{type: 'submit', value: 'Request Appointment'}
    .g-b.g-b--s--1of4
      &nbsp;
