.row.row--a
  .cell.well.well--l
    .logo.mbl{href: '#'}
      %span.logo-mark
        = partial "/assets/images/logo.svg"
      %span.logo-text
        Worship.Consulting
    %h2 Online Worship Consulting
    .g
      .g-b.g-b--s--1of2
        %p
          Trustworthy and convenient worship leadership consulting
          services. All in the comfort of your browser and on your
          time. Starting at $50/hr.
    %a.btn{href: "#"} Request An Appointment

.row
  .cell.well.well--l
    .g.mbl
      .g-b.g-b--s--3of4
        %h3
          What is Worship.Consulting?
        %h1.mbs
          Trustworthy and convenient worship leadership consulting
          services. All in the comfort of your browser and on your
          time. Starting at $50/hr.
      .g-b.g-b--s--1of4
        = partial "/assets/images/logo.svg"
    .g
      .g-b.g-b--s--1of2
        %h3 Who is this for?
        %p
          Maecenas faucibus mollis interdum. Praesent commodo cursus
          magna, vel scelerisque nisl consectetur et. Etiam porta sem
          malesuada magna mollis euismod. Nulla vitae elit libero, a
          pharetra augue. Praesent commodo cursus magna, vel scelerisque
          nisl consectetur et. Maecenas faucibus mollis interdum.
      .g-b.g-b--s--1of2
        %h3 When can I do this?
        %p
          Maecenas faucibus mollis interdum. Praesent commodo cursus
          magna, vel scelerisque nisl consectetur et. Etiam porta sem
          malesuada magna mollis euismod. Nulla vitae elit libero, a
          pharetra augue. Praesent commodo cursus magna, vel scelerisque
          nisl consectetur et. Maecenas faucibus mollis interdum.

.row.row--b
  .cell.well.well--l
    %h2 How Does It Work?
    %p.columns
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
      id elit non mi porta gravida at eget metus. Aenean lacinia
      bibendum nulla sed consectetur. Nulla vitae elit libero, a
      pharetra augue. Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Donec ullamcorper nulla non metus auctor
      fringilla. Nullam id dolor id nibh ultricies vehicula ut id
      elit. Donec id elit non mi porta gravida at eget metus. Aenean
      eu leo quam. Pellentesque ornare sem lacinia quam venenatis
      vestibulum. Integer posuere erat a ante venenatis.
    .g
      .g-b.g-b--s--1of2.g-b--m--1of4
        %h5 Step 1
        %h4 Set a Time
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Donec id elit non mi porta gravida at eget metus. Aenean
          lacinia bibendum.
      .g-b.g-b--s--1of2.g-b--m--1of4
        %h5 Step 2
        %h4 Connect
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Donec id elit non mi porta gravida at eget metus. Aenean
          lacinia bibendum.
      .g-b.g-b--s--1of2.g-b--m--1of4
        %h5 Step 3
        %h4 Review
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Donec id elit non mi porta gravida at eget metus. Aenean
          lacinia bibendum.
      .g-b.g-b--s--1of2.g-b--m--1of4
        %h5 Step 4
        %h4 Package
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Donec id elit non mi porta gravida at eget metus. Aenean
          lacinia bibendum.

.row.row--a
  .cell.well.well--l
    %h2 Ready to Get Started?
    %p.columns
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
      id elit non mi porta gravida at eget metus. Aenean lacinia
      bibendum nulla sed consectetur. Nulla vitae elit libero, a
      pharetra augue. Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Donec ullamcorper nulla non metus auctor
      fringilla. Nullam id dolor id nibh ultricies vehicula ut id
      elit. Donec id elit non mi porta gravida at eget metus. Aenean
      eu leo quam. Pellentesque ornare sem lacinia quam venenatis
      vestibulum. Integer posuere erat a ante venenatis.

.row
  .cell.well.well--l
    %h2 Frequently Asked Questions
    .g
      .g-b.g-b--m--1of2
        %h3 Who is this for?
        %p
          Maecenas faucibus mollis interdum. Praesent commodo cursus
          magna, vel scelerisque nisl consectetur et. Etiam porta sem
          malesuada magna mollis euismod. Nulla vitae elit libero, a
          pharetra augue. Praesent commodo cursus magna, vel
          scelerisque nisl consectetur et. Maecenas faucibus mollis.
      .g-b.g-b--m--1of2
        %h3 When can I do this?
        %p
          Maecenas faucibus mollis interdum. Praesent commodo cursus
          magna, vel scelerisque nisl consectetur et. Etiam porta sem
          malesuada magna mollis euismod. Nulla vitae elit libero, a
          pharetra augue. Praesent commodo cursus magna, vel
          scelerisque nisl consectetur et. Maecenas faucibus mollis.
    .g
      .g-b.g-b--m--1of2
        %h3 Who is this for?
        %p
          Maecenas faucibus mollis interdum. Praesent commodo cursus
          magna, vel scelerisque nisl consectetur et. Etiam porta sem
          malesuada magna mollis euismod. Nulla vitae elit libero, a
          pharetra augue. Praesent commodo cursus magna, vel
          scelerisque nisl consectetur et. Maecenas faucibus mollis.
      .g-b.g-b--m--1of2
        %h3 When can I do this?
        %p
          Maecenas faucibus mollis interdum. Praesent commodo cursus
          magna, vel scelerisque nisl consectetur et. Etiam porta sem
          malesuada magna mollis euismod. Nulla vitae elit libero, a
          pharetra augue. Praesent commodo cursus magna, vel
          scelerisque nisl consectetur et. Maecenas faucibus mollis.

.row.row--b
  .cell.well.well--l.pbm
    .logo.mbs{href: '#'}
      %span.logo-mark
        = partial "/assets/images/logo.svg"
      %span.logo-text
        Worship.Consulting
    %hr.mbm
    %nav.fl
      %a{:href => "#"} Contact
      %a{:href => "#"} Make Appointment
      %a{:href => "#"} Privacy Policy
    %p.fr
      &copy; 2015 Bethany Wilson. All Rights Reserved.
